*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "微软雅黑";
}
li{
    list-style: none;
}
.header_box{
    width: 100%;
    height: 68px;
    background:#000a14 ;
}
.header{
    width: 1140px;
    height: 65px;
    margin: 0 auto;
    color: white;
    font-size: 12px;
    position: relative;
}
.lt{
    width: 43px;
    height: 79px;
    background: url(../images/prev.png)no-repeat;
    position: absolute;
    top:278px;
    left: -10px;
    z-index: 100;
    cursor: pointer;
}
.rt{
    width: 43px;
    height: 79px;
    background: url(../images/next.png)no-repeat;
    position: absolute;
    top:278px;
    right: -10px;
    z-index: 100;
    cursor: pointer;
}
.header_lt,.header_ct{
    float: left;
}
.header_ct li{
    float: left;
    margin-left: 47px;
    cursor: pointer;
    font-weight: bold;
    line-height: 65px;
}
.header_rt{
    float: right;
    line-height: 65px;
}
.banner_box{
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}
.banner-box{
    width: 400%;
    height: 500px;
    position: absolute;
    left:-100%;
}
.banner-box .banner{
    float: left;
    width: 25%;
    height: 500px;
    position: relative;
}
.banner img{
   position: absolute;
    top:85px;
    left: 50%;
    margin-left: -383PX;
}
.banner1{
    background: url(../images/bg.png)no-repeat center;
}
.banner2{
    background: url(../images/banner2.jpg)no-repeat center;
}
.banner3{
    background: url(../images/banner3.jpg)no-repeat center;
}
.banner4{
    background: url(../images/banner4.jpg)no-repeat center;
}
.main_box{
    width: 100%;
}
.main_fuwu{
    width: 1000px;
    height: 370px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 50px;
}
.main_fuwu_top{
    width: 120px;
    height: 30px;
    line-height: 30px;
    font-size: 26px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.main_fuwu_bottom{
    width: 990px;
    padding-left: 10px;
    height: 104px;
    margin-bottom: 20px;
}
.main_fuwu_bottom_one{
    width: 181px;
    float: left;
    margin-left: -4px;
}
.main_fuwu_bottom_cir{
    width: 104px;
    height: 104px;
    border-radius: 50%;
    border: 5px solid #02b9ff;
    float: left;
    font-size: 12px;
    box-sizing: border-box;
    line-height: 18px;
    padding:30px 15px 0 17px ;
    cursor: pointer;
}
.main_fuwu_bottom_cir:hover{
    color: white;
    background: #7edbff;
}
.main_fuwu_bottom_line{
    width: 80px;
    height: 36px;
    background: url(../images/line.png)no-repeat;
    float: left;
    margin: 34px 0 0 -3px ;
}
.news_box{
    width: 100%;
    height: 275px;
    background: #e8e8e8;
}
.news{
    width: 1000px;
    height: 275px;
    margin: 0 auto;
}
.news_one{
    float: left;
    width: 480px;
    height: 275px;
}
.news_top{
    width: 480px;
    height: 72px;
    border-bottom: 1px solid #d0d0d0;
    margin-bottom: 20px;
}
.news_lt{
    float: left;
    font-size: 30px;
    padding-top: 25px;
}
.news_rt{
    float: right;
   padding: 39px 5px 0 0;
    font-size: 18px;
}
.news_bottom li{
    width: 480px;
    height: 35px;
    font-size: 13px;
    cursor: pointer;
}
.news_bottom li:hover{
    color: #02b9ff;
}
.news_bottom em{
    display: inline-block;
    width: 3px;
    height: 3px;
    background: #d0d0d0;
    margin-right:12px ;
    vertical-align: middle;
}
.news_bottom span{
    float: right;
}
.news_two{
    float: right;
    width: 480px;
    height: 275px;
}
.main_weixiu{
   width: 1000px;
    margin: 0 auto;
    padding-top:33px;
}
.main_weixiu_top{
    width: 120px;
    height: 30px;
    line-height: 30px;
    font-size: 26px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.main_weixiu_bottom_one{
    width: 160px;
    height: 250px;
    text-align: center;
    margin-right: 50px;
    float: left;
}
.main_weixiu_bottom_one img{
    width: 160px;
    height: 215px;
    margin-bottom: 14px;
}
.main_weixiu_content{
    width: 1000px;
    height: 250px;
    margin-bottom: 30px;
}
.main_weixiu_content1{
    display: none;
    height: 250px;
    margin-bottom: 30px;
}
.main_goon,.main_close{
    width: 70px;
    height: 20px;
    border-radius: 10px;
    background: #e8e8e8;
    margin: 0 auto;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}
.footer_box{
    width: 100%;
    height: 370px;
    margin-top: 20px;
    background: #2d3238;
}
.footer{
    width: 1000px;
    height: 370px;
    margin: 0 auto;
    color: #6e6f70;
    font-size: 12px;
    box-sizing: border-box;
    padding-top: 32px;
}
.footer_lt{
    width: 510px;
    float: left;
}
.footer_lt_top{
    width: 510px;
    height: 143px;
    border-bottom: 1px solid #3d4146;
}
.footer_lt_ct{
    width: 510px;
    height: 112px;
    border-bottom: 1px solid #3d4146;
    line-height: 112px;
}
.footer_lt_top p:first-child{
    font-size: 28px;
    color: #02b9ff;
    margin-bottom: 30px;
}
.footer_lt_top p{
    line-height: 25px;
}
.footer_lt_ct .span1{
    font-size: 16px;
    color: #02b9ff;
}
.footer_lt_ct .span2{
    color: white;
}
.footer_lt_bottom{
    box-sizing: border-box;
    padding-top: 18px;
    line-height: 22px;
}
.footer_rt{
    width: 410px;
    float: right;
}
.footer_rt_one{
    width: 205px;
   float: left;
}
.footer_rt p{
    font-size: 28px;
    color: #02b9ff;
    margin-bottom: 30px;
}
.footer_rt li{
    height: 23px;
    cursor: pointer;
}
.footer_rt li:hover{
    color: #02b9ff;
}
.now{
    color:#017dae
}