.banner_box{
    width: 100%;
    height: 184px;
    background: url(../images/xinwen.gif) center repeat-x;
}
.main_box{
    width: 100%;
    background: url(../images/000.gif) repeat-x 0 -10px;
}
.main_top{
    width: 1100px;
    height: 91px;
    background: url(../images/000.gif)repeat-x;
    margin: 0 auto;
    position: relative;
}
.main_left{
    width: 200px;
    height: 413px;
    position: absolute;
    top:-30px;
}
.main_left_top{
    width: 200px;
    height:184px;
    background: url(../images/column_bg.gif)no-repeat;
    font-size: 26px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 56px 0 0 50px;
    color: white;
}
.main_right{
    width: 850px;
    float: right;
}
.main_right_top{
    width: 850px;
    height: 80px;
    border-bottom: 1px solid #e4e4e4;
    line-height: 80px;
}
.main_left_bottom{
    width: 200px;
    height: 271px;
    background: #575757;
}
.main_left_bottom li{
    width: 200px;
    height: 42px;
    background: url(../images/list.gif)no-repeat;
    color: white;
    font-family: 微软雅黑;
}
.main_left_bottom li span{
    display: inline-block;
    width: 200px;
    height: 42px;
    line-height: 42px;
    text-indent: 50px;
    cursor: pointer;
}
.main_left_bottom li span:hover{
    background: url(../images/list_hover.gif)no-repeat;
    color: black;
}
.main_right_top-lt{
    height: 80px;
    font-size: 20px;
    float: left;
    margin-right: 10px;
}
.main_right_top-rt{
    float: right;
    width: 530px;
    height: 80px;
    box-sizing: border-box;
    padding-left: 27px;
    background: url(../images/home_n.gif)no-repeat 0 50%;
}
.main_right_top-rt p{
    float: left;
    margin-right: 3px;
}
.main_right .main_right_top span{
    display: inline-block;
    width: 62px;
    height: 20px;
    float: left;
    margin-top: 30px;
    background: url(../images/dyyu.gif)no-repeat right ;
    line-height: 20px;
    margin-right: 7px;
    cursor: pointer;
}
.main_right .main_right_top .span1{
    width:227px;
    height: 20px;
}
.main_right_top-rt span:hover{
    color: #f20b1d;
}
.main_right_bottom{
    line-height: 20px;
    padding-top: 25px;
}
.main_news{
    width: 850px;
    height: 130px;
    border-bottom: 1px solid #ccc;
}
.main_news_lt{
    width: 75px;
    height: 95px;
    background: #666666;
    float: left;
    color: white;
    text-align: center;
    font-size: 14px;
}
.main_news_lt p{
    margin-top: 2px;
}
.main_news_lt .p1{
    margin-top: 15px;
    font-size: 16px;
}
.main_news_lt:hover{
    background: #a70526;
}
.main_news_rt{
    width: 750px;
    float: right;
    height: 90px;
}
.main_news_rt_top{
    font-size: 16px;
    margin-top: 6px;
    height: 20px;
}
.main_news_rt_top span{
    width: 130px;
    float: right;
    margin-top: 0;
    font-size: 12px;
    color: #aaa;
}
.main_news_rt_top span img{
    vertical-align: middle;
    margin-right: 13px;
}
.main_news_rt_top_one{
    float: left;
    font-weight: bold;
}
.main_news_rt_top_one:hover{
    color: red;
}
.main_news_rt_bottom{
    clear: both;
    margin-top: 10px;
    line-height: 25px;
}
.main_news_rt_bottom:hover{
    color: #a70526;
}
.main_news_box{
    width: 850px;

}


#main_right_product_first,#main_right_product_last{
    width: 46px;
    height: 30px;
    float: left;
    border: 1px solid #ccc;
    margin-right: 7px;
}
#main_right_product_first:hover,#main_right_product_last:hover{
    color: red;
}
.main_right_product_next_box{
    text-align: center;
    line-height: 30px;
    height: 30px;
    float: right;
    margin-top: 30px;
}
.main_right_product_next_box ul{
    float: left;
}
.main_right_product_next_box ul li{
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    float: left;
    margin-right: 7px;
}
.main_right_product_next_box ul li:hover{
    color: red;
}
#main_right_product_prev{
    width: 55px;
    height: 30px;
    float: left;
    border: 1px solid #ccc;
    margin-right: 7px;
}
#main_right_product_prev:hover{
    color: red;
}
#main_right_product_next{
    width: 55px;
    height: 30px;
    float: left;
    border: 1px solid #ccc;
    margin-right: 7px;
}
#main_right_product_next:hover{
    color: red;
}
#main_right_product_first_one,#main_right_product_last_one{
    width: 46px;
    height: 30px;
    float: left;
    border: 1px solid #ccc;
    margin-right: 7px;
}
#main_right_product_first_one:hover,#main_right_product_last_one:hover{
    color: red;
}
.main_right_product_next_box_one{
    text-align: center;
    line-height: 30px;
    height: 30px;
    float: right;
    margin-top: 30px;
}
.main_right_product_next_box_one ul{
    float: left;
}
.main_right_product_next_box_one ul li{
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    float: left;
    margin-right: 7px;
}
.main_right_product_next_box_one ul li:hover{
    color: red;
}
#main_right_product_prev_one{
    width: 55px;
    height: 30px;
    float: left;
    border: 1px solid #ccc;
    margin-right: 7px;
}
#main_right_product_prev_one:hover{
    color: red;
}
#main_right_product_next_one{
    width: 55px;
    height: 30px;
    float: left;
    border: 1px solid #ccc;
    margin-right: 7px;
}
#main_right_product_next_one:hover{
    color: red;
}


#main_right_product_first_two,#main_right_product_last_two{
    width: 46px;
    height: 30px;
    float: left;
    border: 1px solid #ccc;
    margin-right: 7px;
}
#main_right_product_first_two:hover,#main_right_product_last_two:hover{
    color: red;
}
.main_right_product_next_box_two{
    text-align: center;
    line-height: 30px;
    height: 30px;
    float: right;
    margin-top: 30px;
}
.main_right_product_next_box_two ul{
    float: left;
}
.main_right_product_next_box_two ul li{
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    float: left;
    margin-right: 7px;
}
.main_right_product_next_box_two ul li:hover{
    color: red;
}
#main_right_product_prev_two{
    width: 55px;
    height: 30px;
    float: left;
    border: 1px solid #ccc;
    margin-right: 7px;
}
#main_right_product_prev_two:hover{
    color: red;
}
#main_right_product_next_two{
    width: 55px;
    height: 30px;
    float: left;
    border: 1px solid #ccc;
    margin-right: 7px;
}
#main_right_product_next_two:hover{
    color: red;
}



#main_right_product_first_three,#main_right_product_last_three{
    width: 46px;
    height: 30px;
    float: left;
    border: 1px solid #ccc;
    margin-right: 7px;
}
#main_right_product_first_three:hover,#main_right_product_last_three:hover{
    color: red;
}
.main_right_product_next_box_three{
    text-align: center;
    line-height: 30px;
    height: 30px;
    float: right;
    margin-top: 30px;
}
.main_right_product_next_box_three ul{
    float: left;
}
.main_right_product_next_box_three ul li{
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    float: left;
    margin-right: 7px;
}
.main_right_product_next_box_three ul li:hover{
    color: red;
}
#main_right_product_prev_three{
    width: 55px;
    height: 30px;
    float: left;
    border: 1px solid #ccc;
    margin-right: 7px;
}
#main_right_product_prev_three:hover{
    color: red;
}
#main_right_product_next_three{
    width: 55px;
    height: 30px;
    float: left;
    border: 1px solid #ccc;
    margin-right: 7px;
}
#main_right_product_next_three:hover{
    color: red;
}