*{
    margin: 0;padding: 0;
}
.daohang{
    width: 100%;
}
.daohang .zt{
    width: 1180px;
    height: 125px;
    float: right;
    margin-bottom: 1%;
    overflow: hidden;
}
.daohang  .lt{
    width: 140px;
    height: 50px;
    float: left;
    padding-top: 35px;
}
.daohang  .lt img{
    width: 100%;
    height: 100%;
}
li{
    list-style: none;
    cursor: pointer;
}
.daohang .zht{
    width: 560px;
    float: left;
    margin-left: 10px;
}
.daohang .zht .shang{
    width: 400px;
    height: 20px;
    margin-top: 30px;
}
.daohang .zht li{
    float: left;
    font-size: 12px;
    margin-right: 15px;
    color: #9b9391;
}

.daohang .zht .input1{
    width: 450px;
    height: 31px;
    float: left;
}
.daohang .zht .input2{
    width: 100px;
    height: 35px;
    background-color: #f4f4f4;
    font-size: 14px;
    text-align: center;
    line-height: 35px;
    float: left;
    cursor: pointer;
}
.daohang .rt{
    width: 410px;
    height: 125px;
    float: left;
}
.daohang .rt .shang{
    width:410px ;
    height: 40px;
    text-align: right;
    box-sizing: border-box;
    padding: 10px 0 0 140px;
    box-sizing: border-box;

}
.daohang .rt  li{
    float: left;
    font-size: 12px;
}
.daohang .rt  span{
    margin: 0 12px 0 12px ;
}
.daohang .rt .zhong{
    margin: 20px 0 0 10px;
    width: 410px;
    height: 30px;
}
.daohang .rt .xia{
    font-size: 16px;
    font-family: 微软雅黑;
    margin :10px 0 0 55px;
}
.daohang .zht .xia{
    font-size: 10px;
    height: 15px;
    clear: both;
    padding: 12px 0 0 12px;
}
.daohang .zht .xia input{
    vertical-align: middle;
}
.daohang1{
    width: 100%;
    height: 40px;
    background-color: #01204f;
    clear: both;
    position: relative;
}
.daohang1 .zht{
    width: 1045px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
}
.daohang1 li{
    float: left;
    padding:0 10px 0 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    position: relative;
    z-index: 15;
}
.daohang1 .nav{
    height: 40px;
    background-color: red;
}
.daohang1 ul .div1{
    height: 40px;
    background-color: red;
    position: absolute;
    z-index: 10;
    left: 0;
}
.daohang1 .div2{
    width: 224px;
    height: 200px;
    background-color: #01204f;
    position: absolute;
    left: 0;
    display: none;
}
.daohang1 .div2 ol{
    width: 111px;
    height:39px ;
    box-sizing: border-box;
    padding-left: 20px;
    line-height: 39px;
    float: left;
    text-align: left;
}
.daohang1  ol:hover{
    background-color: #1a3e78;
}
.daohang1 .div3{
    width: 48px;
    height: 120px;
    background-color:#01204f;
    position: absolute;
    left: 0;
    display: none;
}